<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Leave Leaderboard</h4>
</div>
<div class="modal-body">
  <ul class="errors"></ul>
  Are you sure that you want to leave: <b><%= leaderboard.name %></b>?
</div>
<div class="modal-footer">
  <%= link_to 'Cancel', '#', class: 'btn btn-default', data: { dismiss: 'modal' } %>
  <%= link_to 'Leave', leave_confirm_leaderboard_path(leaderboard), remote: true,
    class: 'btn btn-danger' %>
</div>
