<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Edit Match <%= match.number %></h4>
</div>
<div>
  <%= render 'form', match: match, teams: teams %>
</div>
