<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="menu">
          <li>
            <%= link_to('Predictions', predictions_path, class: 'nav-link') %>
          </li>
          <li>
            <%= link_to('Leaderboards', leaderboards_path, class: 'nav-link') %>
          </li>
          <li>
            <%= link_to('FAQ', faq_index_path, class: 'nav-link') %>
          </li>
        </ul>
      </div>
      <div class="col-md-6 text-right">
        <span class="copyright"></span>
        <%= image_tag('gap.png', alt: 'gap', class: 'img-responsive logo') %>
      </div>
    </div>
  </div>

</footer>
