<div id="signout-page" class="container-fluid">
  <div class="row">
    <div class="col-md-12 bgimage">
      <div class="container text-center">
        <div class="row">
          <%= image_tag('logo.png', alt: 'logo', class: 'logo image-responsive') %>
        </div>
        <div class="row">
          <%= link_to 'Sign In with Google', user_google_oauth2_omniauth_authorize_path,
            class: 'btn btn-lg btn-primary', method: :post %>
        </div>
        <div class="row">
          <%= image_tag('gap.png', alt: 'gap', class: 'gap-logo image-responsive') %>
        </div>
      </div>
    </div>
  </div>
</div>
