<div class="container page">
  <h2 class="title">FAQ</h2>

  <h3>Why I'm not in the leaderboard?</h3>
  <p>Because you haven't submitted any prediction yet</p>

  <h3>What do I need to make predictions?</h3>
  <p>Just enter your predictions scores with numbers values from 0 to 99 in the main page and remember to save them!</p>

  <h3>When is the deadline for entering scores?</h3>
  <p>All matches close automatically five minutes before the game starts. This means you can not enter predictions scores for games that already started.</p>

  <h3>Are penalties taken into consideration?</h3>
  <p>No, the final score is only for the 90 minutes plus the overtime if it is the case. Penalies are not taken into consideration for predictions.</p>

  <h3>How are the scores updated?</h3>
  <p>The final match scores are manually updated by an Administrator that will run a process to update all the predictions points and leaderboard.</p>

  <h3>How do I win points?</h3>
  <p>There are two possible ways of winning points: </p>
  <p><b>Win/Tie Points:</b> These points are obtained if the prediction is successful with the correct winner or tie result, <b>but without</b> the exact score of the match.</p>
  <p><b>Exact Score Points:</b> These points are obtained if the prediction is successful with the correct winner or tie result <b>and</b> the exact score of the match. </p>
  <p>Each phase grants a different set of points, following this table: </p>

  <div class="row">
    <div class="col-sm-12">
      <table id="phases-table" class="table table-striped">
        <thead>
          <tr>
            <th>Phase</th>
            <th class="text-center">
              Win/Tie Points (<span class="glyphicon glyphicon-ok" style="color: green"></span>)
            </th>
            <th class="text-center">
              Exact Score Points (<span class="glyphicon glyphicon-king" style="color: green"></span>)
            </th>
          </tr>
        </thead>
        <tr>
          <td class="">Groups</td>
          <td class="text-center number">1</td>
          <td class="text-center number">3</td>
        </tr>
        <% @phases.each do |phase| %>
          <tr>
            <td class=""><%= phase.name %></td>
            <td class="text-center number"><%= phase.small_points %></td>
            <td class="text-center number"><%= phase.big_points %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <h3>What is the purpose of this app?</h3>
  <p>This site was created with the only purpose of having fun guessing match results,
  so in case any fraud or illegal activity is detected for a specific account, we will proceed to disable this account inmediately.</p>
</div>
