

.leaderboard-table {
  margin: 0px auto;
}

.leaderboard-table .user-image {
  width: 30px;
  margin-right: 10px;
  border-radius: 5px;
}

.leaderboard-table td.number {
  width: 30px;
  line-height: 30px;
}

.leaderboard-table td {
  line-height: 30px;
}

span.score-box {
  display: inline-block;
  width: 45px;
  text-align: center;
  border: 1px solid #999;
  font-size: 14px;
  height: 30px;
  background-color: #CCC;
}

.modal-body .errors {
  padding-bottom: 10px;
}

#invitations-content {
  margin: 20px;
}

#invitations-content li {
  line-height: 26px;
}

.leaderboard-table span.medal-1 {
  display: inline-block;
  border: 1px solid #FFF;
  border-radius: 50%;
  background: gold;
  width: 30px;
  height: 30px;
  box-shadow: 0px 0px 3px 0px #989898;
}

.leaderboard-table span.medal-2 {
  display: inline-block;
  border: 1px solid #FFF;
  border-radius: 50%;
  background: silver;
  width: 30px;
  height: 30px;
  box-shadow: 0px 0px 3px 0px #989898;
}

.leaderboard-table span.medal-3 {
  display: inline-block;
  border: 1px solid #FFF;
  border-radius: 50%;
  background: #cd7f32;
  width: 30px;
  height: 30px;
  box-shadow: 0px 0px 3px 0px #989898;
}
